.about-page{
  .banner-area{
    // .col-50{

    // }
    h1{
      font-size: 70px;
      // letter-spacing: -1px;
      // line-height: 80px;
      color: #4a1a50;
      font-weight: bold;
      font-family: "Helvetica";
    }
  }
}