.acc-header {
  // background-color: #ffffff;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  filter: drop-shadow(0 0 25px rgba(0,0,0,0.1));
  background-color: #ffffff;
  box-shadow: 0 0 25px rgba(0,0,0,0.1);
  .di-flex {
    align-items: center;
  }
  // background-color: red;
  // padding: 40px 0;
  .logo-box {
    width: 16%;
  }
  .nav-bar {
    width: 60%;
    // position: relative;
    // left: 0;
    // top:0;
    list-style: none;
    display: flex;
    .link {
      color: #4a1a50;
      padding: 40px 0 40px 48px;
      display: block;
      font-family: 'Helvetica';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      // position: relative;
      &::before {
        content: " ";
        height: 8px;
        width: 8px;
        background-color: #4a1a50;
        display: inline-block;
        margin-right: 8px;
        visibility: hidden;
      }
    }
    .nav-item {
      .sub-list {
        display: none;
        position: absolute;
        background-color: #ffffff;
        width: calc(100% - 110px);
        left: 0;
        // top: 90px;
        z-index: 2;
        padding: 80px 60px;
        list-style: none;

        &::after {
          content: " ";
          position: absolute;
          width: 110px;
          height: calc(100% - 110px);
          right: -110px;
          top: 0;
          background: #fff;
        }

        li {
          a {
            font-family: 'Helvetica';
            font-size: 34px;
            font-weight: 400;
            line-height: 65px;
            letter-spacing: 0em;
            text-align: left;
            position: relative;
            top: 0;
            left: 0;
            color: #4A1A50;
            &:hover{
              font-weight: 600;
              &::after{
                content: " ";
                height: 24px;
                width: 24px;
                border-right: 12px solid #AAFF31;
                border-top: 12px solid #AAFF31;
                display: inline-block;
                position: absolute;
                top: 0;
                right: -32px;
              }
            }
            
          }
        }
        // &::after{
        //   content: " ";
        //   height: 110px;
        //   width: 110px;
        //   background-color: transparent;
        //   position: absolute;
        //   right: 0;
        //   bottom: 0;
        //   will-change: transform;
        //   mix-blend-mode: difference;
        // }
      }
      &:hover {
        .sub-list {
          display: block;
        }
        .link {
          // font-weight: 600;
          &::before {
            visibility: visible;
          }
        }
      }
    }
  }
  .login-search{
    width: 24%;
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // background-color: red; 
    text-align: right;
    .search-icon{
      position: relative;
      left: 0;
      top: 0;
      height: 42px;
      width: 42px;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      // &::after{

      // }

      img{
        display: block;
        max-width: 100%;
        margin: 0 auto;
      }
      &:hover{
        background-image: url('./../assets/images/search-bg.png');
      }
    }
    .login-btn{
      background-color: #510B46;
      width: 192px;
      height: 40px;
      margin-left: 24px;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      text-align: center;
      color: #FFFFFF;
      display: inline-block;
      padding: 12px 40px;
      position: relative;
      top: 0;
      left: 0;
      margin-right: 8px;
      &::after{
        content: "";
        position: absolute;
        right: -8px;
        height: calc(100% - 8px);
        width: 8px;
        bottom: 0;
        background-color: #510B46;
      }
      &:hover{
        color: #4A1A50;
        background-color: #AAFF31;
        &::after{
          background-color: #AAFF31;
        }
      }
    }
  }
}
