@font-face {
  font-family: Helvetica;
  src: local('☺'), 
  url('./../assets/font/Helvetica.ttf') format("truetype"),
  url('./../assets/font/Helvetica.eot') format("eot"),
  url('./../assets/font/Helvetica.svg') format("svg"),
  url('./../assets/font/Helvetica.woff') format("woff"),
  url('./../assets/font/Helvetica.otf')  format("opentype");
}
@import "variable";
@import "reusable";

body{
  font-family: 'Helvetica';
  touch-action: manipulation;
}
// my code
@import "typography";

.read-more, .download-link{
  display: inline-flex;
  align-items: center;
  margin-right: 18px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #4A1A50;
  img{
    margin-left: 12px;
    width: auto;
  }
  &:hover{
    font-weight: 600;
    img{
      transform: scale(1.1);
    }
  }
}
.main-wrapper{
  @import "header";
  
  // .warraper{
  //   // padding-top: 100px;

  // }
  .scroll-bottm{
    width: 100px;
    height: 100px;
    background-color: #4A1A50;
    position: absolute;
    top: -100px;
    left: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    path{
      fill: #ffffff;
    }
    &:hover{
      background-color: #AAFF31;
      path{
        fill: #4A1A50;
      }
    }
  }

  
  .banner-area{
    height: 100vh;
    min-height: 700px;
    max-height: 740px;
    // height: 100%;
    padding-top: $space-top-menu;

    // background-color: yellow;
    .banner-carousel, .owl-stage-outer, .owl-stage, .owl-item{
      height: 100%;
    }
    .e-box-containe{
      background-image: url('./../assets/images/JGU.gif');

    }
    .owl-theme .owl-dots{
      text-align: right;
      position: absolute;
      right: 60px;
      bottom: 60px;
      .owl-dot{
        span{
          border-radius: 0;
         
        }
        &:hover{
          span{
          background-color: #AAFF31;

          }
        }

      } 
      .owl-dot .active span{
        background-color: #4A1A50;

      }
    }
    .letter-e{
      position: relative;
      width: 320px;
      height: 530px;
      border-width: 110px 0 110px 110px;
      border-style: solid;
      border-color: red;
      background-color: #ffffff;
      background-image: url('./../assets/images/JGU.gif');
      background-repeat: no-repeat;
      background-size: cover;
      // border-image: url('./../assets/images/JGU.gif') 30 round;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0px;
        width: 110px;
        height: 110px;
        background: red;
    }
    
    }
    .item{
      align-items: center;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
    }
    .rt-box{
      width: 40%;
    }
    .lt-box{
      width: 60%;
    }
    .rt-box, .lt-box{
      position: relative;
      top: 0;
      left: 0;
      .text{
        position: absolute;
        top: 50%;
        right: -80px;
        transform: translateY(-50%);
        background-color: #ffffff;
        font-family: 'Helvetica';
        font-size: 68px;
        font-weight: 700;
        // line-height: 105px;
        letter-spacing: 0em;
        text-align: left;
        color: #4A1A50;
        z-index: 2;
        // width: ;


      }
    }
    .e-text{
      margin: 0;

    background: url(http://media.royalcaribbean.com/content/shared_assets/images/destinations/regions/hero/hawaii_01.jpg);


    font-size: 24em;
    font-family: impact;
    left: 0;
    // line-height: 100%;
    // padding-top: 25px; /* padding + border of div */
    // position: absolute; /* posi tion at top left of #containter to sync bg */
    // text-align: center;
    top: 0;
    width: 100%;
    // fill-opacity: ;
    // text-fill-color: transparent;
    background-clip: text;
    // text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-text-fill-color: transparent;
    -moz-background-clip: text;
  }
  
  }

  .our-section{
    // min-height: 100vh;
    // height: auto;
    background-color: #4A1A50;
    position: relative;
    top: 0;
    left: 0;
    padding-top: 120px;
    // height: 100vh;
    min-height: 940px;

    max-height: auto;
    // cursor: pointer;
    
    .text{
      font-style: normal;
      font-weight: 450;
      font-size: 38px;
      line-height: 50px;
      color: #FFFFFF;
    }
    .di-flex{
      padding: 0;

    }
    .bootom-section{
      // position: r;
      // bottom: 0;
      // left: 0;
      // background-color: red;
      // height: 20px;
      margin-top: 200px;
      width: 100%;
      // z-index: 1;
      // display: flex;
      // flex-wrap: wrap;
      
      // position: absolute;
      // left: 0;
      // transform: translateX(-50%);
      // bottom: 0;
      display: grid;
      // margin-left: 80px;
      // grid-template-columns: repeat(4, 1fr);
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      align-items: center;
      justify-content: center;
      // gap: 20px;
      .item{
        // width: 16.66%;
        // min-width: 200px;
        // min-width: 280px;
        // height: 280px;
        min-height: 220px;
        // max-width: 280px;
        height: 100%;
        position: relative;
        // flex-grow: 1;
        left: 0;
        top: 0;
        display: flex;
        align-items: flex-end;
        padding: 16px 24px;
        background: rgba(252, 250, 250, 0.1);

        cursor: pointer;
        .yellow-trin{
          position: absolute;
          right: 20px;
          top: 20px;
        }
        .title{
          font-size: 16px;
          color: #ffffff;
          font-weight: bold;
          font-family: "Helvetica";
        }
        .info-box{
          position: absolute;
          right: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: #AAFF31;
          padding: 16px 24px;
          overflow-y: auto;
          display: none;
          .blue-trin{
            position: absolute;
            right: 20px;
            top: 20px;
          }
          &.height-2x{
            height: 200%;
            width: 100%;
            bottom: 0;
            top: auto;
          }
          &.width-2x{
            width: 200%;
          }
          &.left-0{
            left: 0;
            right: auto;
          }
          .info-title{
            font-family: 'Helvetica';
            font-size: 16px;
            font-weight: bold;
            // line-height: 0px;
            color: #4A1A50;
            margin-bottom: 16px;
          }
          p{
            font-family: 'Helvetica';
            font-size: 14px;
            line-height: 22px;
            color: #4A1A50;
            margin-bottom: 16px;

          }
          .link{
            font-family: 'Helvetica';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 27px;
            text-align: right;
            color: #4A1A50;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            img{
              margin-left: 8px;
            }
          }
        }
        &:hover, &:active, &:focus{
          // background-color: yellow;
          .info-box{
            display: block ;
          }

        }
        // &:nth-child(3){
        //   background-color: red;
        // }
        &.visiblity-hiden{
          background: transparent;
        }
        &.white-bg{
          background-color: #ffffff;
        }
      }

    }
  }
  .media-flex{
    // align-items: center;
    padding: 0 48px;
    .item{
      // width:33.33%;
      background-color: #ffffff;
      position: relative;
      top: 0;
      left: 0;
      margin-bottom: 48px;
      img{
        width: auto;
      }
      .img-box{
        margin-bottom:24px ;
        overflow: hidden;
        
        img{
          object-fit: cover;
          width: 100%;
          height: 418px;

        }
      }
      .over-text{
        position: absolute;
        width: 126px;
        height: 126px;
        left: 0;
        top: 0;
        background: #FFFFFF;
        padding: 12px;
        &:hover{
          background: #AAFF31;
        }
      }
      .title-box{
        // padding: ;
        min-height: 130px;

      }
      .text-box{
        padding-right: 32px;
      }
      
      .item-title{
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 40px;
        color: #4A1A50;
        position: relative;
        top: 0;
        left: 0;
        &:hover{
          border-bottom: 10px solid #AAFF31;
        }
        
        // &:hover{
        //   text-decoration: underline solid #AAFF31 10px;
        // }
      }
      .date{
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 34px;
        letter-spacing: -0.01em;
        color: #4A1A50;
        margin-top: 18px;

      }
      p{
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 34px;
        // letter-spacing: -0.01em;
        color: #4A1A50;
        margin-bottom:24px;
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;

      }
    }
    .newsleft{
      svg{
        transform: rotate(-180deg);
        transform-origin: center;
      }
    }
    .newsleft, .newsright{
      svg{
        display: block;
      }
      path{
        fill: #ffffff;
      }
      &:hover{
        // background-color: #AAFF31;
        path{
          fill: #4A1A50;
        }
      }
    }
    .owl-nav button.owl-prev, .owl-nav button.owl-next{
      width: 40px;
      height: 40px;
      border-radius: 0;
      background-color: #4A1A50;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 20%;
      // transform: translateY(-50%);
      &:hover{
        background-color: #AAFF31
      }

    }
    .owl-nav button.owl-prev{
      left: 0;
    }
    .owl-nav button.owl-next{
      right: 0;
    }
  }
  .media-section{
    padding: 100px 0 0 0;
    .title-row{
      margin-bottom: 60px;
      justify-content: space-between;
      align-items: flex-end;
    }
    .title{
      font-family: 'Helvetica';
      font-style: normal;
      font-weight: 700;
      font-size: 38px;
      line-height: normal;
      color: #4A1A50;
    }

    .more{
      font-size: 18px;
      line-height: 30px;
      color: #4a1a50;
      font-weight: bold;
      // line-height: 30px;
      font-family: "Helvetica";
      // margin-top: 48px;
      display: inline-block;
      position: relative;
      left: 0;
      top: 0;
      padding-right: 24px;
      margin-right: 12px;
      &::after{
        content: " ";
        height: 16px;
        width: 16px;
        border-right: 8px solid #AAFF31;
        border-top: 8px solid #AAFF31;
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        visibility: hidden;
      }
      &:hover{
        // font-weight: 500;
        visibility: visible;
      }
    } 
  }
  .about-us-banner{
    background-color: #ffffff;
    background-image: url('./../assets/images/bg-about.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1440px;
    position: relative;
    top: 0;
    left: 0;
    padding-top: $space-top-menu;
    .title{
      font-family: 'Helvetica';
      font-style: normal;
      font-weight: 450;
      font-size: 80px;
      line-height: 90px;
      color: #4A1A50;
      margin: 0;
      margin-top: 124px;
    }
    .bottom-container{
      position: absolute;
      bottom: 0;
      left: 0;
      // height: 200px;
      width: 100%;
      // background-color: red;
    }
    .text-content{
      position: relative;
      top: 0;
      left: 0;
      .blank-item{
        width: 140px;
        align-self: flex-end;
      }
      .text-item{
        width: calc(100% - 140px);
        background-color: #4A1A50;
        padding: 100px 140px 240px ;
        position: relative;
        left: 0;
        top: 0;
        &::before{
          content: "";
          position: absolute;
          width: 143px;
          height: 143px;
          left: 0;
          bottom: 0;
          background: #FFFFFF;
        }
        h1{
          font-family: 'Helvetica';
          font-style: normal;
          font-weight: 500;
          font-size: 38px;
          line-height: 46px;
          color: #FFFFFF;
          margin-bottom: 12px;
        }
        p{
          font-family: 'Helvetica';
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          // line-height: 46px;
          color: #FFFFFF;
        }
      }
    }
  } 

  .purpule-box{
    height: 143px;
    width: 143px;
    background-color: #4a1a50;
  }

  .box-stru{
    display: grid;
    grid-template-columns: repeat(3, 143px);
    // grid-template-rows: 143px;
    // width: 600px;
    align-items: center;
    // margin: 0 auto;
    margin-left: 50%;
    .box{
      height: 143px;
      width: 143px;
      &.fill{
        background-color: #4a1a50;
  
    }

      // &:nth-of-type(1){
      //   align-self: start;
      //   justify-self: start;
      //   background-color: yellow;

      // }
      // &:nth-of-type(2){
      //   align-self: start;
      //   justify-self: end;
      //   background-color: #4A1A50;
      // }
    }
  
    
  }
  .info-section{
    background-color: #ffffff;
    background-image: url('./../assets/images/Layer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // height: 200px;
    .blank-content{
      width: 283px;
      position: relative;
      top: 0;
      left: 0;
      .white-bar{
        width: 49%;
        height: calc(100% + 142px) ;
        background-color: #ffffff;
      }
    }
    .info-content{
      width: calc(100% - 283px);
      padding: 100px;
      background-color: #ffffff;
      h2{
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 500;
        font-size: 38px;
        line-height: 46px;
        color: #4A1A50;
        margin-bottom: 12px
      }
      p{
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #4A1A50;
        margin-bottom: 12px
      }
      &.no-bg{
        background-color: transparent;
        padding-left: 0;
        h2{
          font-weight: 700;
          font-size: 58px;
          line-height: 68px;
          color: #FFFFFF;
        }
        p{
          font-weight: 500;
          font-size: 48px;
          line-height: 58px;
          color: #FFFFFF;
        }
      }

    }
  }
  @import "about-us";
  @import "people";
  @import "about-page";
  @import "media-page";
}
@import "approach-page";

.e-box-relative{
  width: 300px;
  min-height: 100%;
  height: 500px;
  // max-height:  530px;
  background-color: yellow;
  background-image: url(./../assets/images/JGU.gif);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  .video-item{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .box-container{
    position: absolute;
    left: -2px;
    top: 0;
    height: 100%;
    width: 100%;
    // z-index: 6;
    // background: red;
    display: grid;
    grid-template-columns: repeat(3, 102px);
    // align-items: center;

    // flex-wrap: wrap;
    gap: 0;
    .box{
      // width: 105px;
      display: block;
      // height: 105px;
      &.fill{
        background-color: #ffffff;
        margin-left: -1px;
      }
    }
  }


}
@import "footer";

@import "media";
