.approach-page{
  
  .acc-header{
    position: static;
  }
  .about-page{
    .about-banner-area{
      background-image: url("./../assets/images/approch-bg.jpg");
      // padding-top: $space-top-menu *2;
      background-position: right;

    }
    .box-stru-grid{
      grid-template-columns: repeat(2, 1fr);
      &.white-boxs{
        width: $width-of-box*2;
      }
    }
  }
  .control-growth{
    
    background-color: #ffffff;
    background-image: url('./../assets/images/dolar-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 700px;
    // max-height: 740px;
    .control{
      // padding: 20px;
      // background: red;
      .content-box{
        width: calc(100% - $width-of-box*2);
        background-color: $white;
        padding: 160px 200px 200px 140px;
        position: relative;
        left: 0;
        top: 0;
        h2{
          font-size: 36px;
          color: #4a1a50;
          // font-weight: bold;
          font-family: "Basel-Grotesk-Bold";
          margin-bottom: 24px;
          
        }
        p{
          font-size: 30px;
          line-height: 40px;
          color: #4a1a50;
          font-family: "Basel-Grotesk-Book";
        }
        .white-text{
          color: $white;
        }
        &::after{
          content: "";
          height: 280px;
          width: 280px;
          border-right: 140px solid #4a1a50;
          border-bottom: 140px solid #4a1a50;
          position: absolute;
          right: 0px;
          bottom: 0;
        }
      }
      .bg-box{
        width: $width-of-box;
      }
      .control-white-box{
        width: $width-of-box;
        background-color: $white;
        // height: 100%;
      }
    }
    .dollor{
      .content-box{
        width: 100%;
        background: none;
        &::after{
          height: 280px;
          width: 280px;
          border-left: 140px solid $white;
          border-bottom: 140px solid $white;
          border-right: none;
          border-top: none;

          position: absolute;
          right: 0px;
          top: 0;
        }
      }
    }
  }
  .buy-buld{
    background-color: #ffffff;
    background-image: url('./../assets/images/buy-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    border-left: 140px solid $purple;
    padding: 180px 0 180px 140px;
    h2{
      font-size: 36px;
      color: #000;
      // font-weight: bold;
      font-family: "Basel-Grotesk-Bold";
      margin-bottom: 24px;
    }
    p{
      font-size: 30px;
      color: #000;
      font-family: "Basel-Grotesk-Book";
      margin-bottom: 32px;
      line-height: 40px;
    }
    .text{
      font-size: 18px;
      color: #000;
      font-family: "Basel-Grotesk-Book";
      line-height: 24px;
    }
  }
  .build{
    padding: 0;
    background: none;
    border: none;
    img{
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
    .content{
      border-left: 140px solid $purple;
      background: $purple;
      height: 100%;
      padding: 160px 0;
      h2, p, .text{
        color: $white;
      }
    }
  }
  .liquidity{
    .control-white-box{
      width: $width-of-box;
      background-color: #4a1a50;
      // border-top: 140px solid #4a1a50;
      // height: 100%;
    }
    .content{
      padding: 180px 100px;
      background-color: $yellow;
      width: calc(100% - $width-of-box);
      position: relative;
      left: 0;
      top: 0;
      &::after{
        content: "";
        height: 280px;
        width: $width-of-box * 3;
        border-right: 140px solid #4a1a50;
        border-bottom: 140px solid #4a1a50;
        position: absolute;
        right: 0px;
        bottom: 0;
      }
      h2{
        font-size: 36px;
        color: $purple;
        // font-weight: bold;
        font-family: "Basel-Grotesk-Bold";
        margin-bottom: 24px;
      }
      p{
        font-size: 30px;
        color: $purple;
        font-family: "Basel-Grotesk-Book";
        margin-bottom: 32px;
      }
      .text{
        font-size: 18px;
        color: $purple;
        font-family: "Basel-Grotesk-Book";
      }
    }
  }
  .global-section{
    position: relative;
    left: 0;
    top: 0;
    padding: 80px $width-of-box;
    .globe-img{
      img{
        width: 100%;
        height: auto;
      }
    }
    .tingle{
      position: absolute;
      width: $width-of-box;
      height: $width-of-box;
      // right: 0;
      // bottom: -1px;
      background: $purple;
      &.left-top{
        left: 0;
        top: 0;
        &::after{
          content:  "";
          width: $width-of-box;
          height: $width-of-box;
          position: absolute;
          top: $width-of-box;
          left: 0;
          // background-color: red;
          border: 70px solid transparent;
          border-top-color: #dbd1dc;
          border-left-color:#dbd1dc;
        }
      }
      &.right-bottom{
        right: 0;
        bottom: 0;
        &::after{
          content:  "";
          width: $width-of-box;
          height: $width-of-box;
          position: absolute;
          bottom: $width-of-box;
          left: 0;
          // background-color: red;
          border: 70px solid transparent;
          border-bottom-color: #dbd1dc;
          border-right-color:#dbd1dc;
        }
      }
      
    }
    h2{
      font-size: 36px;
      color: #000000;
      // font-weight: bold;
      font-family: "Basel-Grotesk-Bold";
      margin-bottom: 60px;
    }
  }
}
