.people-page{
  // 
  // background-color: red;
  .button-center{
    margin-top: 80px;
  }
  .pe-banner-section{
    background-color: #ffffff;
    background-image: url('./../assets/images/arrow-wing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom right  ;
    // min-height: 900px;
    height: 760px;
    // padding-top: $space-top-menu;
    position: relative;
    top: 0;
    left: 0;
    padding-bottom: $width-of-box;
    .scroll-bottm{
      top: auto;
      bottom: 140px;
    }
    &::after{
      content: "";
      width: calc(100% - $width-of-box);
      height: $width-of-box;
      background-color: #4A1A50;
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
    }
    .container, .di-flex{
      height: 100%;
    }
    .box-stru-grid{
      grid-template-columns: repeat(2, 1fr);
      width: $width-of-box *2;
      margin-left: auto;
      .box{
        width: $width-of-box;
        height: $width-of-box;
      }
      .fill{
        background-color:$white;
    
      }
     
    }
    .di-flex{
      // padding-top: 120px;
      justify-content: space-between;
      .lt, .rt{
        width: 50%;
      }
      .lt{
        // align-self: flex-start;
        .number{
          font-size: 70px;
          color: #4a1a50;
          // font-weight: bold;
          font-family: "Basel-Grotesk-Bold";
          margin-bottom: 32px;
          span{
            font-size: 36px;
            color: #4a1a50;
            // font-weight: bold;
            font-family: "Basel-Grotesk-Bold";
          }
        }
        .subtitle{
          font-size: 18px;
          line-height: 28px;
          color: #4a1a50;
          font-family: "Basel-Grotesk-Book";
        }
      }
      .rt{
        align-self: flex-end;
        .title{
          font-family: 'Basel-Grotesk-Medium';
          font-style: normal;
          font-weight: 500;
          font-size: 38px;
          line-height: 46px;
          color: #4A1A50;
        }
      }
    }
    .posi-absolute.bottom-right{
      left: 0;
      right: auto;
    }
  }
  .main-people{
    background-color: #4A1A50;
    padding-bottom: 140px;
    position: relative;
    top: 0;
    left: 0;
    &::after{
      content: "";
      position: absolute;
      width: 143px;
      height: 143px;
      right: 0;
      bottom: -1px;
      background: $white;
    }
   
  }

  // .di-flex{
  //   justify-content: center;
  //   align-items: flex-end;
  //   gap: 100px;
  // }
  .pe-title{
    font-family: 'Basel-Grotesk-Bold';
    font-style: normal;
    // font-weight: bold;
    font-size: 36px;
    line-height:50px;
    color: #FFFFFF;
    margin-bottom: 60px;
  }
  .people-item{
    position: relative;
    top: 0;
    left: 0;
    // width: 243px;
    max-width: 300px;

    width: calc(25% - 20px);
    margin-right:20px;
    margin-bottom: 32px;
    display: none;
    &:nth-of-type(4), &:last-child{
      margin-right: 0;
    }
   
    
    .user-img-box{
      width: 100%;
      height: 243px;
      background: #5C3162;
      position: relative;
      left: 0;
      bottom: 0;
      margin-bottom: 16px;
      display: flex;
      align-items: flex-end;
      &::after {
        content: " ";
        height: 60px;
        width: 60px;
        border-right: 30px solid #ffffff;
        border-top: 30px solid #ffffff;
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
      }
      // img{
      //   object-fit: cover;
      // }
    }
    .name, .position{
      font-family: 'Basel-Grotesk-Medium';
      font-style: normal;
      // font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      color: #FFFFFF;
      margin: 0;
      margin-bottom: 8px;
    }
    .position{
      // font-weight: 400;
      font-family: 'Basel-Grotesk-Book';
    }
    .location{
      display: flex;
      font-family: 'Basel-Grotesk-Book';
      font-style: normal;
      // font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      color: #FFFFFF;
      img{
        display: inline-block;
        width: 14px;
        height: 16px;
        margin: 0;
        margin-right: 4px;
      }
    }
  }
  .bord-people{
    padding: 140px 0;
    position: relative;
    top: 0;
    left: 0;
   &::after {
      content: "";
      position: absolute;
      width: 143px;
      height: 143px;
      right: 0;
      bottom: -1px;
      background: #046c7e;
    }
    &.last::after{
      background: #4A1A50;
    }
    .pe-title{
      color: #4A1A50;
    }
    // background: #046C7E;
    .user-img-box{
      border-radius: 2px;
      background-color: #f0ecf1;
      &::after {
        border-right: 30px solid #4a1a50;
        border-top: 30px solid #4a1a50;
        border-left: none;
        display: inline-block;
        top: 0;
        right: 0;
        left: auto;
      }
    }
    .name, .position, .location{
      color: #532659;
    }
  }
  .mana-people{
    padding: 80px 0 140px 0;
    position: relative;
    top: 0;
    left: 0;
    background-color: #046c7e;
    &::after {
      content: "";
      position: absolute;
      width: 143px;
      height: 143px;
      right: 0;
      bottom: -1px;
      background: #fff;
    }
    .pe-title{
      color: $white;
    }
    .people-item{
      .user-img-box{
        background-color: #1e7b8b;
        &::after{
          border-color: #fff;
        }
      }
      // .name, .position{
      //   color: #4A1A50;
      // }
    } 
  }
  // .foresting{
  //   padding: 100px 0 200px 0;
  //   position: relative;
  //   left: 0;
  //   top: 0;
  //   &::after{
  //     content: " ";
  //     height: 286px;
  //     width: 286px;
  //     border-bottom: 143px solid #4A1A50;
  //     border-right: 143px solid #4A1A50;
  //     display: inline-block;
  //     position: absolute;
  //     bottom: 0;
  //     right: 0;
  //   }
  //   .fo-title{
  //     font-family: 'Basel-Grotesk-Book';
  //     font-style: normal;
  //     font-weight: 700;
  //     font-size: 58px;
  //     line-height: 67px;
  //     color: #4A1A50;
  //   }
  //   p{
  //     font-family: 'Basel-Grotesk-Book';
  //     font-style: normal;
  //     font-weight: 400;
  //     font-size: 58px;
  //     line-height: 67px;
  //     color: #4A1A50;
  //     margin-bottom: 60px;
  //   }
  //   .text{
  //     font-family: 'Basel-Grotesk-Book';
  //     font-style: normal;
  //     font-weight: 450;
  //     font-size: 34px;
  //     line-height: 35px;
  //     color: #4A1A50;
  //   }
  //   .login-btn{
  //     background-color: #510b46;
  //     width: 192px;
  //     height: 40px;
  //     margin-top: 24px;
  //     font-style: normal;
  //     font-weight: 400;
  //     font-size: 13px;
  //     line-height: 16px;
  //     text-align: center;
  //     color: #fff;
  //     display: inline-block;
  //     padding: 12px 40px;
  //     position: relative;
  //     top: 0;
  //     left: 0;
  //     &::after {
  //       content: "";
  //       position: absolute;
  //       right: -8px;
  //       height: calc(100% - 8px);
  //       width: 8px;
  //       bottom: 0;
  //       background-color: #510b46;
  //     }
  //   }
  // }
}