.about-page{
  .about-banner-area{
    background-color: #ffffff;
    background-image: url('./../assets/images/about-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 700px;
    max-height: 740px;
    height: 720px;
    // padding-top: $space-top-menu;
    .container, .di-flex{
      height: 100%;
    }
    .di-flex{
      justify-content: space-between;
    }
    
    h1{
      font-size: 70px;
      // letter-spacing: -1px;
      // line-height: 80px;
      color: #4a1a50;
      font-weight: bold;
      font-family: "Helvetica";
    }
  }
  .box-stru-grid{
    grid-template-columns: repeat(3, 1fr);
  }
  .white-boxs{
    margin-left: auto;
    width: $width-of-box*3;
    .box{
      width: $width-of-box;
      height: $width-of-box;
    }
    .fill{
      background-color: #ffffff;
    }
  }
  .vi-mi-section{
    background-color: #aaff31;
    .di-flex{
      flex-wrap: nowrap;
    }
    .text-content{
      padding: 100px 100px 100px 0;
      .text-box{
        margin-bottom: 40px;
        .vi-title{
          font-size: 36px;
          color: #4a1a50;
          font-weight: bold;
          font-family: "Helvetica";
          margin-bottom: 16px;
        }
        p{
          font-size: 30px;
          color: #4a1a50;
          font-family: "Helvetica";
        }
      }
    }
  }
  .values-section{
    .img-box{
      position: relative;
      left: 0;
      top: 0;
      &::before{
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        height: $width-of-box;
        width: $width-of-box;
        background-color: #ffffff;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .cor-content{
      background-color: #4a1a50;
      padding: 0 60px 0 140px;
      position: relative;
      top: 0;
      left: 0;
      &::before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: $width-of-box;
        width: $width-of-box;
        background-color: #AAFF31;
      }
      h2{
        font-size: 36px;
        color: #ffffff;
        font-weight: bold;
        font-family: "Helvetica";
        margin-bottom: 24px;
        // height: 40%;
        // position: absolute;
        // bottom: 36%;
        // // left: 0;
      }
      .text-box{
        height: 50%;
        display: flex;
        align-items: flex-end;
      }
      .values-carousel{
        height: 50%;
        .owl-stage-outer, .owl-stage, .owl-item{
          height: 100%;
        }
        align-items: center;
        .item{
          // align-items: flex-end;
          height: 100%;
          display: flex;
          position: relative;
          top: 0;
          left: 0;
          .number{
            font-size: 200px;
            line-height: 46px;
            color: #aaff31;
            font-weight: bold;
            font-family: "Helvetica";
            position: absolute;
            right: 0;
            bottom: 0;
          }

          p{
            font-size: 30px;
            color: #ffffff;
            font-family: "Helvetica";
            margin-bottom: 16px;

          }
          .text{
            font-size: 18px;
            color: #ffffff;
            font-family: "Helvetica";
          }
        }

        .newsleft{
          svg{
            transform: rotate(-180deg);
            transform-origin: center;
          }
        }
        .newsleft, .newsright{
          svg{
            display: block;
          }
          path{
            fill: #000000;
          }
          // &:hover{
          //   // background-color: #AAFF31;
          //   path{
          //     fill: #4A1A50;
          //   }
          // }
        }
        .owl-nav button.owl-prev, .owl-nav button.owl-next{
          width: 40px;
          height: 40px;
          border-radius: 0;
          background-color: #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          bottom: 8%;
          left: 60px;
          // transform: translateY(-50%);
          &:hover{
            background-color: #AAFF31
          }
  
        }
        .owl-nav button.owl-prev{
          left: 0px;
        }
        .owl-nav button.owl-next{
          right: 0px;
        }
      }
      
    }
  }
  .profile-section{
    border-left: $width-of-box solid #4a1a50;
    padding: 90px;
    .pr-title{
      font-size: 36px;
      color: #4a1a50;
      font-weight: bold;
      font-family: "Helvetica";
      margin-bottom: 32px;
    }
    .pr-subtitle{
      font-size: 30px;
      margin-bottom: 24px;
      color: #4a1a50;
      font-family: "Helvetica";

    }
    p{
      font-size: 18px;
      margin-bottom: 24px;
      color: #4a1a50;
      font-family: "Helvetica";
    }

  }
  .lineage{
    border-left: $width-of-box solid #ffffff;
    background-color: #aaff31;
    position: relative;
    top: 0;
    left: 0;
    padding-bottom:  $width-of-box + 100px;

    &::after{
      content: "";
      height: $width-of-box *3;
      width: $width-of-box *3;
      border-left: $width-of-box solid $purple;
      border-bottom: $width-of-box solid $purple;
      position: absolute;
      left: - $width-of-box;
      bottom: 0;
    }
    .stategey-box{
      padding: 100px 80px;
      background-color: $white;
      .st-title{
        font-size: 18px;
        margin-bottom: 40px;
        color: #4a1a50;
        font-weight: bold;
        font-family: "Helvetica";
      }
      .lineage-carousel{
        // justify-content: space-between;
        .item{
          // width: 30%;
          // flex-grow: 1;
          svg{
            max-width: 100%;
            margin-left: 0;
            display: block;
            margin-bottom: 24px;
          }
          .st-subtitle{
            font-size: 18px;
            margin-bottom: 24px;
            color: $purple;
            font-weight: bold;
            font-family: "Helvetica";
          }
          .main-title{
            font-size: 30px;
            margin-bottom: 24px;
            color: $purple;
            font-weight: bold;
          }
          .list{
            list-style: none;
            padding-right: 24px;
            li{
              padding-left: 16px;
              position: relative;
              &::before{
                content: " ";
                height: 8px;
                width: 8px;
                top: 4px;
                margin-top: 0;
                background-color: $purple;
                display: inline-block;
                position: absolute;
                left: 0;
              }
            }
          }
        }
      }

    }
  }
  .sectores{
    padding: 110px 0;
    padding-left: $width-of-box;
    position: relative;
    left: 0;
    top: 0;
    &::before{
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: $width-of-box;
      width: $width-of-box;
      background-color: #AAFF31;
    }
    .di-flex{
      flex-wrap: nowrap;
    }
    .se-title{
      font-size: 36px;
      line-height: 46px;
      color: #4a1a50;
      font-weight: bold;
      font-family: "Helvetica";
      margin-bottom: 24px;
    }
    .tabbing-section{
      width: 24%;
    }
    .tab-nav{
      // width: 40%;
      .link{
        font-size: 18px;
        line-height: 40px;
        margin: 2px 0;
        color: #4a1a50;
        font-family: "Helvetica";
        position: relative;
        left: 0;
        top: 0;
        display: inline-block;
        padding-right: 24px;
        &::after {
          content: " ";
          height: 16px;
          width: 16px;
          border-right: 8px solid #aaff31;
          border-top: 8px solid #aaff31;
          display: inline-block;
          position: absolute;
          top: 0;
          right: 0;
          visibility: hidden;
        }
        &.active{
          font-weight: bold;
          &::after {
            visibility: visible;
          }
        }
      }
    }
    .content-section{
      // flex-grow: 1;
      width: 76%;
      padding-left: 40px;
      .tab-container{
        display: none;
        .con-title{
          font-size: 24px;
          color: #4a1a50;
          font-weight: bold;
          font-family: "Helvetica";
          margin-bottom: 24px;
          span{
            font-size: 70px;
          }
       
        }
        p{
          font-size: 30px;
          color: #4a1a50;
          font-family: "Helvetica";
          margin-bottom: 40px;
        }
        .sectors-carousel{
          .item{
            height: 160px;
            border-radius: 2px;
            background-color: #f2f2f2;
          }
        }
        &.active{
          display: block;
        }
      }
    }
  }
  .awards-section{
    // .di-flex{

    // }
    .border-left{
      width: $width-of-box;
      // border-width: $width-of-box;
      border-top: $width-of-box solid $purple;
      border-bottom: $width-of-box solid $purple;

    }
    .owl-section{
      width: calc(100% - $width-of-box);
      position: relative;
      top: 0;
      left: 0;
      padding: $width-of-box 0;
      background-color: $purple;
      background-image: url('./../assets/images/cup.png');
      background-repeat: no-repeat;
      background-size: 540px;
      background-position: right bottom;
      // min-height: 700px;
      // max-height: 740px;
      &::before{
        content: "";
        height: 100%;
        width: $width-of-box ;
        background-color: $white;
        display: block;
        position: absolute;
        left: 0;
        top:0;
      }
      .awards-carousel{
        max-width: 680px;
        width: 100%;
        // position: relative;
        // top: 0;
        // left: 0;
        .item{
          background-color: $yellow;
          padding: 80px;
          position: relative;
          top: 0;
          left: 0;
          &::before{
            content: "";
            height: 140px;
            width:  140px;
            background-color: $purple;
            display: block;
            position: absolute;
            right: 0;
            top:0;
          }
          .i-title{
            font-size: 70px;
            color: #000000;
            font-weight: bold;
            font-family: "Helvetica";
            margin-bottom: 28px;
          }
          p{
            font-size: 36px;
            color: #000000;
            font-weight: bold;
            font-family: "Helvetica";
            margin-bottom: 32px;
          }
          .i-subtitle{
            font-size: 30px;
            color: #000000;
            font-family: "Helvetica";
            margin-bottom: 24px;
          }
          .small-text{
            font-size: 18px;
            color: #000000;
            font-family: "Helvetica";
          }
        }

        &.owl-theme .owl-dots{
          // text-align: right;
          position: absolute;
          right:0px;
          bottom: -60px;
          .owl-dot{
            span{
              border-radius: 0;
              // background-color: #4A1A50;
              
            }
            &:hover{
              span{
              background-color: #AAFF31;
    
              }
            }
    
          } 
          .owl-dot.active span{
            background-color: #AAFF31;
    
          }
        }
      }

    }
  }
  .partner-section{
    padding: 120px 0;
    h2{
      font-size: 36px;
      color: #4a1a50;
      font-weight: bold;
      font-family: "Helvetica";
      margin-bottom: 36px;
    }
    .par-subtitle{
      font-size: 30px;
      color: #4a1a50;
      font-family: "Helvetica";
      margin-bottom: 24px;
    }
    .text{
      font-size: 18px;
      color: #4a1a50;
      font-family: "Helvetica";
    }
    .acc-container{
      margin-bottom: 20px;
      .accordion {
        cursor: pointer;
        width: 100%;
        transition: 0.4s;
        position: relative;
        top: 0;
        left: 0;
        padding: 24px 36px;
        text-align: left;
        font-size: 18px;
        line-height: 30px;
        color: #4a1a50;
        font-weight: bold;
        font-family: "Helvetica";
        border: 2px solid #4a1a50;
        background-color: transparent;
        &::after{
          content: " ";
          border-left: 2px solid #4a1a50;
          border-bottom: 2px solid #4a1a50;
          border-top: 2px solid #ffffff;
          border-right: 2px solid #ffffff;
          height: 8px;
          width: 8px;
          background-color: $white;
          position: absolute;
          top: -2px;
          right: -2px;
        }
        // span{
        //   // padding-right: 24px;
        //   display: inline-block;
        // }
      }
      // .active, .accordion:hover {
      //   background-color: #ccc;
      // }
      .accordion::before {
        content: "";
        position: absolute;
        right: 36px;
        top: 32px;
        width: 10px;
        height: 10px;
        border-left: 1px solid $purple;
        border-bottom: 1px solid $purple;
        transform: rotate(-45deg);
        transform-origin: center;
      }
      
      .panel {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        font-size: 14px;
        color: #4a1a50;
        line-height: 22px;
        font-family: "Helvetica";
        .item{
          margin-bottom: 48px;
          align-items: center;
        }
        .img-box{
          width: 80px;
        }
        .text-box{
          width: calc(100% - 80px);
          padding-left: 60px;
        }
        // &:last-child {
        //   // .panel{
        //   border: none;
        //   // }
        // }
        // .list {
        //   margin-bottom: 24px;
        //   li {
        //     font: inherit;
        //     margin-bottom: 4px;
        //     &::before {
        //       background-color: #000000;
        //     }
        //   }
        // }
      }
      .active{
        color: $white;
        background-color: $purple;
        &::before {
          transform: rotate(135deg);
          top: 32px;
          border-color: $white;
        }
        +.panel{
          border: 2px solid #4a1a50;
        }
      }
      .inner-content {
        padding: 56px 36px 0 56px;
      }
    }
  }
  .map-section{
    background-color: $purple;
    // background-image: url('./../assets/images/about-bg.jpg');
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    padding: 100px 0;
    // min-height: 880px;
    position: relative;
    top:0;
    left: 0;
    &::after {
      content: "";
      height: 280px;
      width: 280px;
      border-left: 140px solid $white;
      border-bottom: 140px solid $white;
      position: absolute;
      left: 0px;
      bottom: 0;
    }
    .container{
      padding: 0;
    }
    .bg-map-img{
      // background-image: url('./../assets/images/world-map.png');
      // background-repeat: no-repeat;
      // background-size: cover;
      // background-position: center;
      // background-color: #000;
      position: relative;
      left: 0;
      top:0;
      .map-img{
        display: block;
        width: 100%;
      }
      .dot{
        width: 20px;
        height: 20px;
        background-color: #aaff31;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        padding: 2px;
        background-clip: content-box;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        &::after{
          content: "+";
          font-size: 18px;
          color: #4a1a50;
          font-family: "Arial";
          display: block;
          line-height: 16px;
          text-align: center;
        }
        .city-name{
          position: absolute;
          font-size: 16px;
          color: #ffffff;
          text-transform: capitalize;
          font-family: "Helvetica";
          padding: 2px 8px;
          min-width: 100px;
          &.top{
            left: 50%;
            bottom: 14px;
            transform: translateX(-50%);
          }
          &.left{
            left: 18px;
          }
          &.right{
            right: 18px;
            text-align: right;
          }
        }
        

        &:hover{
          background-color: #39b3a9;
          border: 1px solid #39b3a9;
          -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
          .popup{
            display: block;
            // transition: 2s;

          }
          p{
            text-decoration: underline;
          }
        }
      }
      .popup{
        display: none;
        bottom: -40px;
        left: -40px;
        position: absolute;
        background-color: $yellow;
        width: 280px;
        height: auto;
        padding: 40px;
        border-radius: 0;
        box-shadow: 0 0 5px rgba(0,0,0,0.08);
        filter: drop-shadow(0 0 5px rgba(0,0,0,0.08));
        z-index: 1;
        -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
          animation-duration: 1s;

        &::before {
          content: "";
          height: calc(100% - 10px);
          width: 10px;
          background-color: $yellow;
          display: block;
          position: absolute;
          right: -10px;
          bottom: 0;
        }
        .pop-map-ti{
          font-size: 16px;
          color: #4a1a50;
          font-weight: bold;
          font-family: "Helvetica";
          margin-bottom: 16px;
        }
        p{
          font-size: 16px;
          color: #4a1a50;
          font-family: "Helvetica";
          margin-bottom: 24px;
          // &:hover{
          //   text-decoration: underline;
          // }
        }
        .close-btn{
          display: inline-block;
          width: 20px;
          height: 20px;
          background-color: #4a1a50;
          color: #ffffff;
          font-size: 18px;
          font-family: "Arial";
          line-height: 16px;
          text-align: center;
        }
        .map-link{
          display: flex;
          align-items: center;
          img{
            display: block;
            max-width: 100%;
            margin-right: 8px;
          }
          span{
            font-size: 12px;
            text-decoration: underline;
            color: #249aec;
            font-weight: 400;
            font-family: "Poppins";
          }
          
        }
      }
      .new-york{
        top: 39%;
        left: 25%;
      }
      .dubai{
        top: 49%;
        left: 61%;
      }
      .delhi{
        top: 46%;
        left: 68%;
      }
      .mumbai{
        top: 53%;
        left: 66%;
      }
      .bengaluru{
        top: 56.5%;
        left: 68%;
      }
      .singapore{
        top: 62.5%;
        left: 74%;
      }
      .mauritius{
        top: 73.5%;
        left: 62%;
      }
    }
    // max-height: 740px;
  }
  .ever-section{
    padding: 120px 0;
    .company-logo{
      position: relative;
      top:0;
      left: 0;
      .logo-img{
        padding: 68px 0;
        display: block;
      }
      // background-color: red;
      .corner{
        position: absolute;
        width: 18px;
        height: 18px;
        &.left-top{
          border-top: 8px solid $yellow;
          border-left: 8px solid $yellow;
          left: 0;
          top: 0;
        }
        &.left-bottom{
          border-bottom: 8px solid $yellow;
          border-left: 8px solid $yellow;
          left: 0;
          bottom: 0;
        }
        &.right-top{
          border-top: 8px solid $yellow;
          border-right: 8px solid $yellow;
          right: 0;
          top: 0;
        }
        &.right-bottom{
          border-bottom: 8px solid $yellow;
          border-right: 8px solid $yellow;
          right: 0;
          bottom: 0;
        }
      }
    }
    .text-contet{
      padding-left: 100px;
      .c-title{
        font-size: 36px;
        color: #4a1a50;
        font-weight: bold;
        font-family: "Helvetica";
        margin-bottom: 24px;
      }
      .text{
        font-size: 14px;
        line-height: 24px;
        color: #4a1a50;
        font-family: "Helvetica";
        margin-bottom: 32px;
      }
      // .link-btn-purple{
      //   background-color: #510b46;
      //   width: auto;
      //   height: 40px;
      //   font-style: normal;
      //   font-weight: 400;
      //   font-size: 13px;
      //   line-height: 16px;
      //   text-align: center;
      //   color: #fff;
      //   display: inline-block;
      //   padding: 12px 40px;
      //   position: relative;
      //   top: 0;
      //   left: 0;
      //   margin-right: 8px;
      //   &::after {
      //     content: "";
      //     position: absolute;
      //     right: -8px;
      //     height: calc(100% - 8px);
      //     width: 8px;
      //     bottom: 0;
      //     background-color: #510b46;
      //   }
      // }
    }
  }
  
}
.about-page-nav{
  background-color: #4a1a50;
  position: -webkit-sticky;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 11;
  .sub-navbar{
    justify-content: center;

  }
  .container{
    position: relative;
  }
  .scroll-bottm{
    left: 0;
  }
  .link{
    width: auto;
    position: relative;
    margin: 40px 20px;
    top: 0;
    left: 0;
    font-size: 18px;
    line-height: 36px;
    padding: 0;
    padding-right: 24px;
    &::after{
      content: " ";
      height: 16px;
      width: 16px;
      border-right: 8px solid #AAFF31;
      border-top: 8px solid #AAFF31;
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      visibility: hidden;
    }
    &:hover, &.active-link{
      background-color: transparent;
      color: #ffffff;
      &::after{
        visibility: visible;
      }
    } 
  }
}
.contact-page{
  .about-banner-area{
    background: none;
    h2{
      font-size: 36px;
      line-height: 50px;
      color: #4a1a50;
      font-family: "Helvetica";
      margin-top: 24px;
    }
    .contact-form{
      
      max-width: 480px;
      width: 100%;

      .cont-links-box{
        // background-color: red;
        display: none;
        .cont-link{
          display: block;
          position: relative;
          top: 0;
          left: 0;
          padding: 40px 0 40px 0;
          border-bottom: 2px solid #532659;
          margin-bottom: 20px;
          &::after{
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            background-image: url("./../assets/images/right-arrow.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: auto;
            height: 24px;
            width: 16px;
            transform: translateY(-50%);
          }
          &:hover{
            &::after{
              background-image:none;
              top: 0;
              transform: none;
              height: 16px;
              border-right: 8px solid #AAFF31;
              border-top: 8px solid #AAFF31;
            }
          }
          .link-title{
            font-size: 30px;
            line-height: 34px;
            color: #4a1a50;
            font-family: "Helvetica";
            margin-bottom: 4px;
          }
          p{
            font-size: 18px;
            line-height: 40px;
            color: #4a1a50;
            font-weight: bold;
            font-family: "Helvetica";
          }
        }
      }
      
      .form-container{
        background-color: $purple;
        padding: 40px;
        position: relative;
        left: 0;
        top: 0;
        display: none;
      }
      .active{
        display: block;
      }
      .close-btn{
        position: absolute;
        right: 20px;
        top: 20px;
      }
      .form-title{
        font-size: 18px;
        color: #ffffff;
        font-weight: bold;
        font-family: "Helvetica";
        margin-bottom: 40px;
      }
      .col-input {
        margin-bottom: 8px;
        width: 100%;
        // margin-bottom: 48px;
        position: relative;
        top: 0;
        left: 0;
        .control{
          position: relative;
          left: 0;
          top: 0;
          // background-color: red;
          &::after{
            content: " ";
            position: absolute;
            // right: -1px;
            // top: -1px;
            right: 0;
            top: 0;
            display: inline-block;
            height: 10px;
            width: 10px;
            border-bottom: 2px solid #ffffff60;
            border-left: 2px solid #ffffff60;
            background-color: $purple;
          }
          .set-position-eye{
            position: absolute;
            right: 24px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
      .form .col-input input[type=text], .form .col-input input[type=date], .form .col-input input[type=email], .form .col-input input[type=tel],.form .col-input input[type=password], .form .col-input select, .form .col-input textarea {
        border-radius: 0;
        padding: 10px 16px;
        width: 100%;
        outline: none;
        font-size: 14px;
        line-height: 30px;
        color: #ffffff;
        font-family: "Helvetica";
        background-color: transparent;
        border: 2px solid #ffffff60;
        
        &:focus{
          box-shadow: 0 0 15px rgba(0,0,0,0.1);
          filter: drop-shadow(0 0 15px rgba(0,0,0,0.1));
        }
        &::placeholder{
          color: $white;
          opacity: 1;
        }
        &::-webkit-input-placeholder {
          color: $white;
          opacity: 1;
        }
        &:-ms-input-placeholder {
          color: $white;
          opacity: 1;
        }
        &.error{
          // border-color: #E34949;
          background-color: rgba(227, 73, 73, 0.05);
          &::-webkit-input-placeholder{
            color: #E34949;
          }
          &::placeholder{
            color: #E34949;
          }
          &::placeholder{
            color: #E34949;
          }
        }
      }
      .form .col-input select {
        -moz-appearance: none;
        -webkit-appearance:none;
        appearance: none;
        background-image: url("./../assets/images/down-arrow.png");
        background-position: 96% 50%;
        background-repeat: no-repeat;
        background-size: 24px auto;
        // color: #000000;
        // color: #888888;
        option {
          color: #000000;
        }
        option:first-child {
          color: #888888;
          background-color: transparent;
          opacity: 1;
        }
        &.error{
          color: #E34949;
          opacity: 1;
    
        }
      }
    }
  }
  .location-section{
    &:nth-child(even){
      .address-box{
        right: 0;
        left: auto;
      }
 

      // border:5px solid red;
    }
    .content-box{
      position: relative;
      left: 0;
      top: 0;
     
    }

    .city-img{
      display: block;
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
    .address-box{
      width: 480px;
      height: 480px;
      background-color: #ffffff;
      padding: 48px;
      position: absolute;
      bottom: 0;
      left: 0;
      
    }
    h2{
      font-size: 36px;
      color: #4a1a50;
      font-weight: bold;
      font-family: "Helvetica";
      margin-bottom: 24px;
    }
    p{
      font-size: 18px;
      line-height: 40px;
      color: #4a1a50;
      font-weight: bold;
      font-family: "Helvetica";
    }
    .text, .mobile{
      font-size: 18px;
      line-height: 28px;
      color: #4a1a50;
      font-family: "Helvetica";
      margin-bottom: 32px;
      font-style: normal;
    }
  }

}
